@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;    
}

#box1 {
  padding: 40px;
  height: 5%;
  margin: 0;
  background-image: linear-gradient(135deg, #000000 0%, #6d6d6d 100%);
}

.dropdown{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  float: right;
  display:inline-block;
  position:relative;
}

button {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
  margin-bottom: 0px;
}

.dropdown button{
  font-weight: bold;
  color:black;
  transition:all .5s ease;
  cursor:pointer;
  background-color: transparent;
}

.dropdown button a{
  color: rgb(255, 255, 255)
}

.dropdown div{
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
  z-index:1;
  visibility:hidden;
  position:absolute;
  min-width:100%;
  opacity:0;
  transition:.3s ease;
  background-color: white;
} */

.dropdown:hover div{
  visibility:visible;
  opacity:1;
}

.nav-main:hover{
  background-color: rgba(159, 160, 160, 0.616);
  font-size: 16.5px;
  transform: scale(1.1);
}

.pro{
  position: absolute;
  height:40px ;
  width: 40px;
  top: 1px;
  right: 190px;
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -360%);
    /* background: rgba(0, 0, 0,0.6); */
    max-width: 400px;
    width: 60%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    /* font-size: 15px; */
    font-family: 'Comfortaa', cursive;
}

.searchbtn {
    background: #515152;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
}

.searchbtn:hover{
    background-color: rgba(159, 160, 160, 0.616);
}
